@media (min-width:120px) and (max-width:1025px){ /* smartphones, iPhone, portrait 480x320 phones */

	.today {
		color: #1BC700;
	}

	p {
		margin: 0;
	}

	#upload-button {
		background-color: #1BC700;
		border: none;
		padding: 0.5rem;
		margin: 1rem 0;
		border-radius: 5px;
		color: white;
		font-size: 0.9rem;
	}

	h1 {
		text-align: center;
	}

	a {
		color: inherit;
		text-decoration: none;
	}

	.unsigned {
		color: #BFBDBC;
	}

	.signed {
		color: #1BC700;
	}

	img {
		max-height: 100%;
		max-width: 100%;
	}

	.checkin-imgs-container {
		width: 8rem;
		height: 8rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.checkin-imgs {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
		width: 100%;
		row-gap: 0;
	}

	.checkin-names {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		font-size: 1.2rem;
		font-weight: bold;
		flex-wrap: wrap;
		row-gap: 0px;
	}

	.checkin-date {
		font-size: 1rem;
		justify-self: center;
	}

	.checkin-container {
		/*display: flex;*/
		/*gap: 1.5rem;*/
		/*align-items: center;*/
		margin-bottom: 1rem;
	}

	body {
		background-color: #EFECEE;
	}

	.checkin-background {
		width: 80%;
		margin: 2rem auto 2rem auto;
		background-color: white;
		border-radius: 20px;
		padding: 0.7rem;
	}

}

@media (min-width:1025px) { 

	.today {
		color: #1BC700;
	}

	p {
		margin: 0;
	}

	#upload-button {
		background-color: #1BC700;
		border: none;
		padding: 0.5rem;
		margin: 1rem 0;
		border-radius: 5px;
		color: white;
		font-size: 0.9rem;
	}

	h1 {
		text-align: center;
	}

	a {
		color: inherit;
		text-decoration: none;
	}

	.unsigned {
		color: #BFBDBC;
	}

	.signed {
		color: #1BC700;
	}

	img {
		max-height: 100%;
		max-width: 100%;
	}

	.checkin-imgs-container {
		width: 10rem;
		height: 10rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.checkin-imgs {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem;
		width: 60rem;
		row-gap: 0.5rem;
	}

	.checkin-names {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 1rem;
		font-size: 1.2rem;
		font-weight: bold;
	}

	.checkin-date {
		font-size: 1rem;
		justify-self: center;
	}

	.checkin-container {
		display: flex;
		gap: 1.5rem;
		align-items: center;
		margin-bottom: 0.2rem;
	}

	body {
		background-color: #EFECEE;
	}

	.checkin-background {
		width: max-content;
		margin: 2rem auto 2rem auto;
		background-color: white;
		border-radius: 20px;
		padding: 1.7rem;
	}
}
